doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel="stylesheet" href="//cdn.rawgit.com/noelboss/featherlight/1.7.0/release/featherlight.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://cdn.jsdelivr.net/g/jquery.tooltipster@4.1.6(css/tooltipster.bundle.min.css+css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css)' rel='stylesheet')
    link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    div#preloader
    div.container
      header
        div.row
          div.logo.col.s12
            div.col.s7.m4.l2
              a(href="/")
                img(src="/images/logo.png" width=150)
            div.col.s5.m8.l10
              span Генератор Баннеров
    block content

    footer.footer
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
    script(src="https://cdn.jsdelivr.net/jquery.tooltipster/4.1.6/js/tooltipster.bundle.min.js")
    script(src="//cdn.rawgit.com/noelboss/featherlight/1.7.0/release/featherlight.min.js")
    script(src="/javascripts/main.js")
    if status == "1"
      div#mylightbox.lightbox
        div #{data.email_message}
        if data.download == 1
          if data.zip!=''
            div
              a.download(href="#{data.zip}") Скачать архив
      a#lightbox_click(href="#mylightbox")

    a(data-target="modal1")
      div#modal1.modal.modal-fixed-footer
        div
          i.fa.fa-times
        div.modal-content
          h4 Сообщение
          p