extends layouts/layout

block content
        div.container
            header
                div.row
                    div.logo.co1.s12
                        div.col.s2
                            a(href="/")
                                img(src="/images/logo.png" width=150)
                        div.col.s10
                            span Генератор Баннеров
        div.container
            div.row
                div.col.s12
                    h1 #{message}

