extends layouts/layout
block content
    form.send_form(action="/result" method="post")
        div.block_input
            div.container
                div.row
                    div.col.s8.offset-s2
                        div.text Введите <b>bundle_id</b> приложения, которое вы ищете
                        div.input
                            input(type="text" placeholder="Enter bundle_id"  name="app")

        div.localization
            div.container
                div.row
                    div.col.s12.m8.l8.offset-l2.offset-m2
                        div.text Выберите локализацию баннеров
                        div.row
                            div.col.s12.m6.l6.input-field
                                select(name="lang" id="lang")
                                    each v, k in lang
                                        option(value=k) #{v}
                            div.col.s12.m6.l6.no_local
                                div.tooltip_content
                                    div#tooltip_content Если нет локализации, вы<br /> можеет создать баннеры со<br /> своим текстом выдели пункт<br /> 'Нет локализации'
                                input#filled-in-box.filled-in(type="checkbox" name="local" value="1")
                                label(for="filled-in-box") Нет локализации
                                img.tooltip(src="/images/info.png")

        div.banners
            div.row
                div.col.s12
                    div.title.has Выберите размер генерируемых баннеров
                    div.title.no(style="display:none;") Введите текст и выберите размер генерируемых баннеров
                    div.input_texts.col.s12.m6.l6.offset-l3.offset-m3.no(style="display:none;")
                        div.input_text
                            div.col.s12.m3.l3 Название приложения
                            div.input-field.inline.col.s12.m9.l9
                                input(type="text" name="title_text" value="")
                        div.input_text
                            div.input_text
                                div.col.s12.m3.l3 Название кнопки
                            div.input-field.inline.col.s12.m9.l9
                                input(type="text" name="button_text" value="")
                        div.input_text
                            div.input_text
                                div.col.s12.m3.l3 Рейтинг
                                div.input-field.inline.col.s12.m9.l9
                                    input(type="text" name="rate_text" value="")
                    div.check_all
                        input#check_all.filled-in(type="checkbox" name="check_all")
                        label(for="check_all") Выбрать все
                    div.row.boxes
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_300_50.filled-in(type="checkbox" name="format[]" value="300_50")
                                    label(for="format_300_50")
                                div.format_image
                                    img(src="/images/formats/banner_300_50.png")
                                div.format_name 300x50
                                div.description
                                    div Описание текста
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_320_50.filled-in(type="checkbox" name="format[]" value="320_50")
                                    label(for="format_320_50")
                                div.format_image
                                    img(src="/images/formats/banner_300_50.png")
                                div.format_name 320x50
                                div.description
                                    div Описание текста
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_728_90.filled-in(type="checkbox" name="format[]" value="728_90")
                                    label(for="format_728_90")
                                div.format_image
                                    img(src="/images/formats/banner_728_90.png")
                                div.format_name 728x90
                                div.description
                                    div Описание текста
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_468_60.filled-in(type="checkbox" name="format[]" value="468_60")
                                    label(for="format_468_60")
                                div.format_image
                                    img(src="/images/formats/banner_728_90.png")
                                div.format_name 468x60
                                div.description
                                    div Описание текста
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_300_250.filled-in(type="checkbox" name="format[]" value="300_250")
                                    label(for="format_300_250")
                                div.format_image.top
                                    img(src="/images/formats/banner_300_250.png")
                                div.format_name 300x250 V1
                                div.description
                                    div Описание текста
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_300_250_2.filled-in(type="checkbox" name="format[]" value="300_250_2")
                                    label(for="format_300_250_2")
                                div.format_image.top
                                    img(src="/images/formats/banner_300_250_2.png")
                                div.format_name 300x250 V2
                                div.description
                                    div Описание текста
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_480_320.filled-in(type="checkbox" name="format[]" value="480_320")
                                    label(for="format_480_320")
                                div.format_image.top
                                    img(src="/images/formats/banner_480_320.png")
                                div.format_name 480x320 V1
                                div.description
                                    div Описание текста
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_480_320_2.filled-in(type="checkbox" name="format[]" value="480_320_2")
                                    label(for="format_480_320_2")
                                div.format_image.top
                                    img(src="/images/formats/banner_480_320_2.png")
                                div.format_name 480x320 V2
                                div.description
                                    div Описание текста
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_320_480.filled-in(type="checkbox" name="format[]" value="320_480")
                                    label(for="format_320_480")
                                div.format_image.top
                                    img(src="/images/formats/banner_320_480.png")
                                div.format_name 320x480
                                div.description
                                    div Описание текста
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_400_300.filled-in(type="checkbox" name="format[]" value="400_300")
                                    label(for="format_400_300")
                                div.format_image.top
                                    img(src="/images/formats/banner_300_250.png")
                                div.format_name 400x300
                                div.description
                                    div Описание текста
                        div.col.s12.m6.l3
                            div.box
                                div.check
                                    input#format_400_300_2.filled-in(type="checkbox" name="format[]" value="400_300_2")
                                    label(for="format_400_300_2")
                                div.format_image.top
                                    img(src="/images/formats/banner_300_250_2.png")
                                div.format_name 400x300 V2
                                div.description
                                    div Описание текста
        div.foot_button
            div.container
                div.row
                    div.col.s12.m8.l8.offset-m2.offset-l2
                        div.result
                            div.col.s12.m4.l4.archive
                                input#download.filled-in(type="checkbox" name="download" value="1")
                                label(for="download") Скачать архив
                            div.col.s12.m4.l4.archive
                                input#send_mail.filled-in(type="checkbox" name="send_mail" value="1")
                                label(for="send_mail") Получить архив на почту
                            div.col.s12.m4.l4.email
                                input(type="email" placeholder="email@mail.com" name="email")
                        div.button
                            a.waves-effect.waves-light.btn(onclick="sendData()") Сгенерировать баннер


