extends layouts/layout

block content
    div.container
        div.row
            h1= title
                div
                    img(src=image)
                    a(href=image) Download file
                    a(href=zip) Download zip
