body
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size : 0px;

.block_1
  width: 300px;
  height: 50px;
  background: #9DA1AA;
  font-family: Helvetica, Arial, sans-serif;

.block_1.width320
  width : 320px;

.block_1 .icon
  padding-left: 3px;
  padding-top : 2px;
  padding-top : 2px;
  width : 63px;
  height : 50px;
  float : left;

.block_1 .icon img
  width : 46px;
  height : 46px;

.block_1 .title
  width : 112px;
  float : left;
  height : 50px;
  color : #2d2d2d;
  font-size : 14px;
  padding-top : 9px;
  font-weight : bold;

.block_1.width320 .title
  width : 132px;
  line-height: 50px;
  padding-top : 0px;

.block_1 .buttons
  background : #c4c7cb;
  float : right;
  height : 50px;
  width : 122px;

.block_1 .buttons .button
  width : 113px;
  height : 33px;
  border-radius: 20px;
  background : #27ae60;
  margin: 0 auto;
  margin-top: 9px;

.block_1 .buttons .button .os
    width : 72px;
    float : left;
    font-size : 14px;
    color : #fff;
    line-height : 33px;
    text-align : center;

.block_1 .buttons .button .os_img
    text-align : center;
    background : #2dc66e;
    width : 41px;
    float : left;
    height : 33px;
    line-height: 33px;
    border-radius : 0px 20px 20px 0px;

.block_1 .buttons .button .os_img img
    vertical-align : middle;



/*
*  ads 468
*/
.block_468
  width: 728px;
  height: 90px;
  background: #9DA1AA;
  font-family: Helvetica, Arial, sans-serif;

.block_468 .icon
  padding-left: 9px;
  padding-top : 6px;
  padding-top : 7px;
  width : 103px;
  height : 90px;
  float : left;

.block_468 .icon img
  width : 76px;
  height : 76px;

.block_468 .title
  width : 416px;
  float : left;
  height : 90px;
  color : #2d2d2d;
  padding-top : 18px;

.block_468 .title span
  font-size : 22px;
  font-weight : bold;

.block_468 .title .description
  font-size : 12px;
  padding-top : 4px;

.block_468 .buttons
  background : #c4c7cb;
  float : right;
  height : 90px;
  width : 200px;

.block_468 .buttons .button
  width : 183px;
  height : 53px;
  border-radius: 40px;
  background : #27ae60;
  margin: 0 auto;
  margin-top: 20px;

.block_468 .buttons .button .os
  width : 116px;
  float : left;
  font-size : 25px;
  color : #fff;
  line-height : 53px;
  text-align : center;

.block_468 .buttons .button .os_img
  text-align : center;
  background : #2dc66e;
  width : 67px;
  float : left;
  height : 53px;
  line-height: 53px;
  border-radius : 0px 40px 40px 0px;

.block_468 .buttons .button .os_img img
  vertical-align : middle;
/*
 * end ads 468
 */



/*
*  ads 728
*/
.block_728
  width: 468px;
  height: 60px;
  background: #9DA1AA;
  font-family: Helvetica, Arial, sans-serif;

.block_728 .icon
  padding-left: 7px;
  padding-top : 3px;
  padding-top : 4px;
  width : 74px;
  height : 60px;
  float : left;

.block_728 .icon img
  width : 52px;
  height : 52px;

.block_728 .title
  width : 236px;
  float : left;
  height : 60px;
  color : #2d2d2d;
  padding-top : 9px;

.block_728 .title span
  font-size : 16px;
  font-weight : bold;

.block_728 .title .description
  font-size : 10px;
  padding-top : 4px;

.block_728 .buttons
  background : #c4c7cb;
  float : right;
  height : 60px;
  width : 151px;

.block_728 .buttons .button
  width : 128px;
  height : 37px;
  border-radius: 20px;
  background : #27ae60;
  margin: 0 auto;
  margin-top: 12px;

.block_728 .buttons .button .os
  width : 82px;
  float : left;
  font-size : 16px;
  color : #fff;
  line-height : 37px;
  text-align : center;

.block_728 .buttons .button .os_img
  text-align : center;
  background : #2dc66e;
  width : 46px;
  float : left;
  height : 37px;
  line-height: 33px;
  border-radius : 0px 20px 20px 0px;

.block_728 .buttons .button .os_img img
  vertical-align : middle;
/*
 * end ads 728
 */

gradient(f, to)
  background: rgba(f);
  background: -moz-radial-gradient(center, ellipse cover, rgba(f) 0%, rgba(to) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(f)), color-stop(100%, rgba(to)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(f) 0%, rgba(to) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(f) 0%, rgba(to) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(f) 0%, rgba(to) 100%);
  background: radial-gradient(ellipse at center, rgba(f) 0%, rgba(to) 100%);

/*
*  ads 300x250
*/
.block_320_250
  width: 300px;
  height: 250px;
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  border-radius : 5px;
  display : block;

  .top
    height 196px;
    background: rgba(209,213,215,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(209,213,215,1) 0%, rgba(163,171,179,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(209,213,215,1)), color-stop(100%, rgba(163,171,179,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(209,213,215,1) 0%, rgba(163,171,179,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(209,213,215,1) 0%, rgba(163,171,179,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(209,213,215,1) 0%, rgba(163,171,179,1) 100%);
    background: radial-gradient(ellipse at center, rgba(209,213,215,1) 0%, rgba(163,171,179,1) 100%);

    .left
        width : 145px;
        float : left;
        display : block;
        padding-top :9px;
        padding-left : 9px;

        img
          width : 123px;
          height : 123px;

    .right
        float : right
        width : 145px;
        display : block;
        .title
            color : #2d2d2d;
            font-size : 28px;
            margin-top : 14px;
        .star
           margin-top : 25px;
        .raiting
           color : #000;
           font-size : 14px;
           margin-top : 5px;

    .description
       padding-top : 15px;
       margin-left : 12px;
       margin-right :12px;
       color : #2d2d2d;
       font-size : 12px;
       line-height : 18px;
       display : block;
       clear: both;


  .bottom
    height : 54px;
    background: rgba(203,205,208,1);
    background: -moz-linear-gradient(left, rgba(203,205,208,1) 0%, rgba(233,233,233,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(203,205,208,1)), color-stop(100%, rgba(233,233,233,1)));
    background: -webkit-linear-gradient(left, rgba(203,205,208,1) 0%, rgba(233,233,233,1) 100%);
    background: -o-linear-gradient(left, rgba(203,205,208,1) 0%, rgba(233,233,233,1) 100%);
    background: -ms-linear-gradient(left, rgba(203,205,208,1) 0%, rgba(233,233,233,1) 100%);
    background: linear-gradient(to right, rgba(203,205,208,1) 0%, rgba(233,233,233,1) 100%);
    .button
      width : 222px;
      height : 34px;
      margin : 0 auto;
      background : #ffffff;
      color : #fff;
      text-align : center;
      border-radius : 40px;
      position : relative;
      top: 10px;
      .txt
        background : #27ae60;
        font-size : 20px;
        width : 82px;
        float : left;
        height: 34px;
        line-height: 34px;
        border-radius : 40px 0px 0px 40px;
      .icon
        background : #2aba67;
        width : 140px;
        float : right;
        height: 34px;
        font-size : 12px;
        line-height: 34px;
        border-radius : 0 40px 40px 0;
        img
          top: 5px;
          left: 5px;
          position: relative;
/*
 * end ads 300x250
 */



/*
*  ads 320x480
*/
.block_320_480
  width: 320px;
  height: 480px;
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  border-radius : 5px;
  display : block;

  .top
    padding : 25px  50px;
    padding-bottom : 0px;
    height 375px;
    background: rgba(209,213,215,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(209,213,215,1) 0%, rgba(163,171,179,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(209,213,215,1)), color-stop(100%, rgba(163,171,179,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(209,213,215,1) 0%, rgba(163,171,179,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(209,213,215,1) 0%, rgba(163,171,179,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(209,213,215,1) 0%, rgba(163,171,179,1) 100%);
    background: radial-gradient(ellipse at center, rgba(209,213,215,1) 0%, rgba(163,171,179,1) 100%);

    .image
      width : 100%;
      display : block;
      margin-bottom : 15px;
      background : #ffffff;

      img
        width : 220px;
        height : 217px;

     .title
        color : #2d2d2d;
        font-size : 26px;
        text-align : center;

     .votes
        width :100%;
        height : 16px;
        line-height : 16px;
        margin-top : 20px;
        .star
          width : 50%;
          float : left;
          padding-top: 3px;
        .raiting
          color : #000;
          font-size : 14px;
          width : 50%;
          float : right;
          text-align : right;

    .description
      padding-top : 10px;
      color : #2d2d2d;
      font-size : 12px;
      display : block;
      clear: both;
      height : 45px;
      overflow : hidden;
      line-height: 18px;


  .bottom
    height : 80px;
    background: rgba(203,205,208,1);
    background: -moz-linear-gradient(left, rgba(203,205,208,1) 0%, rgba(233,233,233,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(203,205,208,1)), color-stop(100%, rgba(233,233,233,1)));
    background: -webkit-linear-gradient(left, rgba(203,205,208,1) 0%, rgba(233,233,233,1) 100%);
    background: -o-linear-gradient(left, rgba(203,205,208,1) 0%, rgba(233,233,233,1) 100%);
    background: -ms-linear-gradient(left, rgba(203,205,208,1) 0%, rgba(233,233,233,1) 100%);
    background: linear-gradient(to right, rgba(203,205,208,1) 0%, rgba(233,233,233,1) 100%);
    .button
      width : 222px;
      height : 34px;
      margin : 0 auto;
      background : #ffffff;
      color : #fff;
      text-align : center;
      border-radius : 40px;
      position : relative;
      top: 23px;
      .txt
        background : #27ae60;
        font-size : 20px;
        width : 82px;
        float : left;
        height: 34px;
        line-height: 34px;
        border-radius : 40px 0px 0px 40px;
      .icon
        background : #2aba67;
        width : 140px;
        float : right;
        height: 34px;
        font-size : 12px;
        line-height: 34px;
        border-radius : 0 40px 40px 0;
        img
          top: 5px;
          left: 5px;
          position: relative;
/*
 * end ads 320x480
 */