body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 0px;
}
.block_1 {
  width: 300px;
  height: 50px;
  background: #9da1aa;
  font-family: Helvetica, Arial, sans-serif;
}
.block_1.width320 {
  width: 320px;
}
.block_1 .icon {
  padding-left: 3px;
  padding-top: 2px;
  padding-top: 2px;
  width: 53px;
  height: 50px;
  float: left;
}
.block_1 .icon img {
  width: 46px;
  height: 46px;
}
.block_1 .title {
  width: 102px;
  float: left;
  height: 33px;
  overflow: hidden;
  color: #2d2d2d;
  font-size: 14px;
  padding-top: 9px;
  font-weight: bold;
  padding-right: 10px;
}
.block_1.width320 .title {
  width: 132px;
}
.block_1 .title:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.block_1 .title span {
  display: inline-block;
  vertical-align: middle;
}
.block_1 .buttons {
  background: #c4c7cb;
  float: right;
  height: 50px;
  width: 122px;
}
.block_1 .buttons .button {
  width: 113px;
  height: 33px;
  border-radius: 20px;
  background: #27ae60;
  margin: 0 auto;
  margin-top: 9px;
}
.block_1 .buttons .button .os {
  width: 72px;
  float: left;
  font-size: 14px;
  color: #fff;
  line-height: 33px;
  text-align: center;
}
.block_1 .buttons .button .os_img {
  text-align: center;
  background: #2dc66e;
  width: 41px;
  float: left;
  height: 33px;
  line-height: 33px;
  border-radius: 0px 20px 20px 0px;
}
.block_1 .buttons .button .os_img img {
  vertical-align: middle;
}
/*
*  ads 468
*/
.block_468 {
  width: 468px;
  height: 60px;
  background: url("../images/bg_468_60.png") no-repeat;
  font-family: Helvetica, Arial, sans-serif;
}
.block_468 .icon {
  padding-left: 7px;
  padding-top: 4px;
  width: 75px;
  height: 60px;
  float: left;
}
.block_468 .icon img {
  width: 52px;
  height: 52px;
}
.block_468 .title {
  width: 219px;
  float: left;
  height: 60px;
  color: #2d2d2d;
  padding-top: 5px;
  padding-right: 10px;
}
.block_468 .title span {
  font-size: 16px;
  font-weight: bold;
  height: 17px;
  overflow: hidden;
  height: 18px;
  overflow: hidden;
  display: block;
}
.block_468 .title .description {
  font-size: 10px;
  padding-top: 3px;
  height: 24px;
  overflow: hidden;
  padding-right: 10px;
  word-wrap: break-word;
}
.block_468 .buttons {
  float: right;
  height: 60px;
  width: 150px;
}
.block_468 .buttons .button {
  width: 128px;
  height: 37px;
  border-radius: 40px;
  background: #27ae60;
  margin: 0 auto;
  margin-top: 12px;
}
.block_468 .buttons .button .os {
  width: 81px;
  float: left;
  font-size: 20px;
  color: #fff;
  line-height: 37px;
  text-align: center;
}
.block_468 .buttons .button .os_img {
  text-align: center;
  background: #2dc66e;
  width: 47px;
  float: left;
  height: 37px;
  line-height: 37px;
  border-radius: 0px 40px 40px 0px;
}
.block_468 .buttons .button .os_img img {
  vertical-align: middle;
}
/*
 * end ads 468
 */
/*
*  ads 728
*/
.block_728 {
  width: 728px;
  height: 90px;
  background: url("../images/bg_728_90.png") no-repeat;
  font-family: Helvetica, Arial, sans-serif;
}
.block_728 .icon {
  padding-left: 9px;
  padding-top: 6px;
  padding-top: 7px;
  width: 103px;
  height: 90px;
  float: left;
}
.block_728 .icon img {
  width: 76px;
  height: 76px;
}
.block_728 .title {
  width: 392px;
  float: left;
  height: 90px;
  color: #2d2d2d;
  padding-top: 12px;
  padding-right: 15px;
}
.block_728 .title span {
  font-size: 22px;
  font-weight: bold;
  height: 27px;
  overflow: hidden;
  display: block;
}
.block_728 .title .description {
  font-size: 12px;
  padding-top: 4px;
  height: 30px;
  overflow: hidden;
}
.block_728 .buttons {
  float: right;
  height: 90px;
  width: 208px;
}
.block_728 .buttons .button {
  width: 183px;
  height: 53px;
  border-radius: 40px;
  background: #27ae60;
  margin: 0 auto;
  margin-top: 20px;
}
.block_728 .buttons .button .os {
  width: 116px;
  float: left;
  font-size: 25px;
  color: #fff;
  line-height: 53px;
  text-align: center;
}
.block_728 .buttons .button .os_img {
  text-align: center;
  background: #2dc66e;
  width: 67px;
  float: left;
  height: 53px;
  line-height: 53px;
  border-radius: 0px 40px 40px 0px;
}
.block_728 .buttons .button .os_img img {
  vertical-align: middle;
}
/*
 * end ads 728
 */
/*
*  ads 300x250
*/
.block_320_250 {
  background: url("../images/bg_300_250.png") no-repeat;
  width: 300px;
  height: 250px;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}
.block_320_250 .top {
  height: 196px;
}
.block_320_250 .top .left {
  width: 145px;
  float: left;
  display: block;
  padding-top: 9px;
  padding-left: 9px;
}
.block_320_250 .top .left img {
  width: 123px;
  height: 123px;
}
.block_320_250 .top .right {
  float: right;
  width: 145px;
  display: block;
}
.block_320_250 .top .right .title {
  color: #2d2d2d;
  font-size: 26px;
  margin-top: 12px;
  overflow: hidden;
  height: 62px;
  margin-bottom: 0px;
  padding-right: 10px;
  word-wrap: break-word;
}
.block_320_250 .top .right .star {
  margin-top: 17px;
}
.block_320_250 .top .right .raiting {
  color: #000;
  font-size: 14px;
  margin-top: 5px;
}
.block_320_250 .top .description {
  padding-top: 15px;
  margin-left: 12px;
  margin-right: 12px;
  color: #2d2d2d;
  font-size: 12px;
  line-height: 18px;
  display: block;
  clear: both;
  height: 34px;
  overflow: hidden;
}
.block_320_250 .bottom {
  height: 54px;
  background: #cbcdd0;
}
.block_320_250 .bottom .button {
  width: 222px;
  height: 34px;
  margin: 0 auto;
  background: #fff;
  color: #fff;
  text-align: center;
  border-radius: 40px;
  position: relative;
  top: 10px;
}
.block_320_250 .bottom .button .txt {
  background: #27ae60;
  font-size: 20px;
  width: 100px;
  float: left;
  height: 34px;
  line-height: 34px;
  border-radius: 40px 0px 0px 40px;
}
.block_320_250 .bottom .button .icon {
  background: #2aba67;
  width: 122px;
  float: right;
  height: 34px;
  font-size: 12px;
  line-height: 34px;
  border-radius: 0 40px 40px 0;
}
.block_320_250 .bottom .button .icon span {
  position: relative;
  left: -2px;
}
.block_320_250 .bottom .button .icon img {
  top: 5px;
  left: 5px;
  position: relative;
}
/*
 * end ads 300x250
 */
/*
*  ads 300x250(2)
*/
.block_320_250_1 {
  background: url("../images/bg_300_250.png") no-repeat;
  width: 300px;
  height: 250px;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}
.block_320_250_1 .top {
  height: 196px;
}
.block_320_250_1 .top .left {
  width: 145px;
  float: left;
  display: block;
  padding-top: 9px;
  padding-left: 9px;
}
.block_320_250_1 .top .left img {
  width: 123px;
  height: 123px;
}
.block_320_250_1 .top .right {
  float: right;
  width: 145px;
  display: block;
}
.block_320_250_1 .top .right .description {
  color: #2d2d2d;
  font-size: 12px;
  line-height: 18px;
  display: block;
  height: 51px;
  overflow: hidden;
  margin-top: 14px;
  margin-bottom: 29px;
  padding-right: 10px;
}
.block_320_250_1 .top .right .star {
  margin-top: 18px;
}
.block_320_250_1 .top .right .raiting {
  color: #000;
  font-size: 14px;
  margin-top: 5px;
}
.block_320_250_1 .top .title {
  padding-top: 15px;
  margin-left: 12px;
  margin-right: 12px;
  color: #2d2d2d;
  font-size: 28px;
  display: block;
  clear: both;
  text-align: center;
  height: 32px;
  overflow: hidden;
}
.block_320_250_1 .bottom {
  height: 54px;
  background: #cbcdd0;
}
.block_320_250_1 .bottom .button {
  width: 222px;
  height: 34px;
  margin: 0 auto;
  background: #fff;
  color: #fff;
  text-align: center;
  border-radius: 40px;
  position: relative;
  top: 10px;
}
.block_320_250_1 .bottom .button .txt {
  background: #27ae60;
  font-size: 20px;
  width: 100px;
  float: left;
  height: 34px;
  line-height: 34px;
  border-radius: 40px 0px 0px 40px;
}
.block_320_250_1 .bottom .button .icon {
  background: #2aba67;
  width: 122px;
  float: right;
  height: 34px;
  font-size: 12px;
  line-height: 34px;
  border-radius: 0 40px 40px 0;
}
.block_320_250_1 .bottom .button .icon img {
  top: 5px;
  left: 5px;
  position: relative;
}
/*
 * end ads 300x250(2)
 */
/*
*  ads 320x480
*/
.block_320_480 {
  width: 320px;
  height: 480px;
  background: url("../images/bg_320_480.png") no-repeat;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}
.block_320_480 .top {
  padding: 25px 50px;
  padding-bottom: 0px;
  height: 375px;
}
.block_320_480 .top .image {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.block_320_480 .top .image img {
  width: 220px;
  height: 217px;
}
.block_320_480 .top .title {
  color: #2d2d2d;
  font-size: 20px;
  text-align: center;
  height: 46px;
  overflow: hidden;
  margin-bottom: 2px;
}
.block_320_480 .top span {
  display: inline-block;
  vertical-align: middle;
}
.block_320_480 .top .title:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.block_320_480 .top .votes {
  width: 100%;
  height: 16px;
  line-height: 16px;
  margin-top: 19px;
}
.block_320_480 .top .votes .star {
  width: 70px;
  float: left;
  padding-top: 3px;
}
.block_320_480 .top .votes .raiting {
  color: #000;
  font-size: 14px;
  width: 150px;
  float: right;
  text-align: right;
}
.block_320_480 .top .description {
  padding-top: 10px;
  color: #2d2d2d;
  font-size: 12px;
  display: block;
  clear: both;
  height: 33px;
  overflow: hidden;
  line-height: 18px;
  margin-bottom: 7px;
}
.block_320_480 .bottom {
  height: 80px;
}
.block_320_480 .bottom .button {
  width: 222px;
  height: 34px;
  margin: 0 auto;
  background: #fff;
  color: #fff;
  text-align: center;
  border-radius: 40px;
  position: relative;
  top: 28px;
}
.block_320_480 .bottom .button .txt {
  background: #27ae60;
  font-size: 20px;
  width: 100px;
  float: left;
  height: 34px;
  line-height: 34px;
  border-radius: 40px 0px 0px 40px;
}
.block_320_480 .bottom .button .icon {
  background: #2aba67;
  width: 122px;
  float: right;
  height: 34px;
  font-size: 12px;
  line-height: 35px;
  border-radius: 0 40px 40px 0;
}
.block_320_480 .bottom .button .icon span {
  position: relative;
  left: -3px;
}
.block_320_480 .bottom .button .icon img {
  top: 5px;
  left: 5px;
  position: relative;
}
/*
 * end ads 320x480
 */
/*
*  ads 480x320
*/
.block_480_320 {
  width: 480px;
  height: 320px;
  background: url("../images/bg_480_320.png") no-repeat;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}
.block_480_320 .top {
  height: 224px;
}
.block_480_320 .top .left {
  width: 186px;
  float: left;
  display: block;
  padding-top: 27px;
  padding-left: 30px;
}
.block_480_320 .top .left img {
  width: 166px;
  height: 166px;
}
.block_480_320 .top .right {
  float: left;
  width: 225px;
  display: block;
}
.block_480_320 .top .right .title {
  color: #2d2d2d;
  font-size: 28px;
  margin-top: 30px;
  height: 64px;
  overflow: hidden;
}
.block_480_320 .top .right .votes {
  width: 100%;
  height: 16px;
  line-height: 16px;
  margin-top: 20px;
}
.block_480_320 .top .right .votes .star {
  width: 60px;
  float: left;
  padding-top: 3px;
}
.block_480_320 .top .right .votes .raiting {
  color: #000;
  font-size: 14px;
  width: 140px;
  float: right;
  text-align: right;
}
.block_480_320 .top .right .button {
  width: 100%;
  height: 34px;
  margin: 0 auto;
  background: #fff;
  color: #fff;
  text-align: center;
  border-radius: 40px;
  margin-top: 30px;
}
.block_480_320 .top .right .button .txt {
  background: #27ae60;
  font-size: 20px;
  width: 100px;
  float: left;
  height: 34px;
  line-height: 34px;
  border-radius: 40px 0px 0px 40px;
}
.block_480_320 .top .right .button .icon {
  background: #2aba67;
  width: 125px;
  float: right;
  height: 34px;
  font-size: 12px;
  line-height: 35px;
  border-radius: 0 40px 40px 0;
}
.block_480_320 .top .right .button .icon span {
  position: relative;
  left: -3px;
}
.block_480_320 .top .right .button .icon img {
  top: 5px;
  left: 5px;
  position: relative;
}
.block_480_320 .bottom {
  height: 96px;
}
.block_480_320 .bottom .description {
  padding-top: 22px;
  margin-left: 30px;
  margin-right: 30px;
  color: #2d2d2d;
  font-size: 12px;
  line-height: 18px;
  display: block;
  clear: both;
  height: 51px;
  overflow: hidden;
}
/*
 * end ads 480x320
 */
/*
*  ads 480x320(2)
*/
.block_480_320_2 {
  width: 480px;
  height: 320px;
  background: url("../images/bg_480_320_2.png") no-repeat;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}
.block_480_320_2 .left {
  width: 205px;
  float: left;
  display: block;
  padding-top: 27px;
  padding-left: 13px;
}
.block_480_320_2 .left .image img {
  width: 166px;
  height: 166px;
}
.block_480_320_2 .left .votes {
  width: 166px;
  height: 16px;
  line-height: 20px;
  margin-top: 15px;
}
.block_480_320_2 .left .votes .star {
  width: 60px;
  float: left;
  padding-top: 3px;
}
.block_480_320_2 .left .votes .raiting {
  color: #000;
  font-size: 12px;
  width: 105px;
  float: right;
  text-align: right;
}
.block_480_320_2 .left .button {
  width: 166px;
  height: 34px;
  background: #fff;
  color: #fff;
  text-align: center;
  border-radius: 40px;
  margin-top: 32px;
}
.block_480_320_2 .left .button .txt {
  background: #27ae60;
  font-size: 20px;
  width: 111px;
  float: right;
  height: 34px;
  line-height: 34px;
  border-radius: 0px 40px 40px 0px;
}
.block_480_320_2 .left .button .icon {
  background: #2aba67;
  width: 55px;
  float: left;
  height: 34px;
  font-size: 12px;
  line-height: 34px;
  border-radius: 40px 0px 0px 40px;
}
.block_480_320_2 .left .button .icon img {
  top: 5px;
  left: 5px;
  position: relative;
}
.block_480_320_2 .right {
  float: left;
  width: 225px;
  display: block;
}
.block_480_320_2 .right .title {
  color: #2d2d2d;
  font-size: 28px;
  margin-top: 25px;
  height: 64px;
  overflow: hidden;
}
.block_480_320_2 .right .description {
  padding-top: 23px;
  color: #2d2d2d;
  font-size: 12px;
  line-height: 18px;
  display: block;
  clear: both;
  height: 178px;
  overflow: hidden;
}
/*
 * end ads 480x320(2)
 */
/*
*  ads 400x300
*/
.block_400_300 {
  width: 400px;
  height: 300px;
  background: url("../images/bg_400_300.png") no-repeat;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}
.block_400_300 .top {
  height: 187px;
}
.block_400_300 .top .left {
  width: 157px;
  float: left;
  display: block;
  padding-top: 20px;
  padding-left: 10px;
}
.block_400_300 .top .left img {
  width: 145px;
  height: 145px;
}
.block_400_300 .top .right {
  float: left;
  width: 225px;
  display: block;
}
.block_400_300 .top .right .title {
  color: #2d2d2d;
  font-size: 20px;
  margin-top: 18px;
  height: 45px;
  overflow: hidden;
}
.block_400_300 .top .right .votes {
  width: 100%;
  height: 12px;
  line-height: 12px;
  margin-top: 26px;
}
.block_400_300 .top .right .votes .star {
  width: 70px;
  float: left;
}
.block_400_300 .top .right .votes .raiting {
  color: #000;
  font-size: 12px;
  width: 150px;
  float: right;
  text-align: right;
}
.block_400_300 .top .right .button {
  width: 100%;
  height: 34px;
  margin: 0 auto;
  background: #fff;
  color: #fff;
  text-align: center;
  border-radius: 40px;
  margin-top: 30px;
}
.block_400_300 .top .right .button .txt {
  background: #27ae60;
  font-size: 20px;
  width: 100px;
  float: left;
  height: 34px;
  line-height: 34px;
  border-radius: 40px 0px 0px 40px;
}
.block_400_300 .top .right .button .icon {
  background: #2aba67;
  width: 125px;
  float: right;
  height: 34px;
  font-size: 12px;
  line-height: 35px;
  border-radius: 0 40px 40px 0;
}
.block_400_300 .top .right .button .icon span {
  position: relative;
  left: -3px;
}
.block_400_300 .top .right .button .icon img {
  top: 5px;
  left: 5px;
  position: relative;
}
.block_400_300 .bottom {
  height: 96px;
}
.block_400_300 .bottom .description {
  padding-top: 22px;
  margin-left: 30px;
  margin-right: 30px;
  color: #2d2d2d;
  font-size: 12px;
  line-height: 18px;
  display: block;
  clear: both;
  height: 51px;
  overflow: hidden;
}
/*
 * end ads 400x300
 */
/*
*  ads 400x300(2)
*/
.block_400_300_2 {
  width: 400px;
  height: 300px;
  background: url("../images/bg_400_300_2.png") no-repeat;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}
.block_400_300_2 .left {
  width: 189px;
  float: left;
  display: block;
  padding-top: 25px;
  padding-left: 16px;
}
.block_400_300_2 .left .image img {
  width: 166px;
  height: 166px;
}
.block_400_300_2 .left .votes {
  width: 166px;
  height: 16px;
  line-height: 20px;
  margin-top: 20px;
  overflow: hidden;
}
.block_400_300_2 .left .votes .star {
  width: 60px;
  float: left;
  padding-top: 3px;
}
.block_400_300_2 .left .votes .raiting {
  color: #000;
  font-size: 12px;
  width: 105px;
  float: right;
  text-align: right;
}
.block_400_300_2 .left .button {
  width: 166px;
  height: 34px;
  background: #fff;
  color: #fff;
  text-align: center;
  border-radius: 40px;
  margin-top: 20px;
}
.block_400_300_2 .left .button .txt {
  background: #27ae60;
  font-size: 20px;
  width: 111px;
  float: right;
  height: 34px;
  line-height: 34px;
  border-radius: 0px 40px 40px 0px;
}
.block_400_300_2 .left .button .icon {
  background: #2aba67;
  width: 55px;
  float: left;
  height: 34px;
  font-size: 12px;
  line-height: 34px;
  border-radius: 40px 0px 0px 40px;
}
.block_400_300_2 .left .button .icon img {
  top: 5px;
  left: 5px;
  position: relative;
}
.block_400_300_2 .right {
  float: left;
  width: 175px;
  padding-right: 20px;
  display: block;
}
.block_400_300_2 .right .title {
  color: #2d2d2d;
  font-size: 18px;
  margin-top: 30px;
  height: 42px;
  overflow: hidden;
}
.block_400_300_2 .right .description {
  padding-top: 30px;
  color: #2d2d2d;
  font-size: 11px;
  line-height: 18px;
  display: block;
  clear: both;
  height: 178px;
  overflow: hidden;
}
/*
 * end ads 480x320(2)
 */
#install_ru,
#install_fr {
  font-size: 14px;
}
.block_728 #install_ru,
.block_728 #install_fr {
  font-size: 16px;
}
.block_468 #install_ru,
.block_468 #install_fr {
  font-size: 13px;
}
#install_de,
#install_es {
  font-size: 15px;
}
.block_1 #install_de,
.block_1 #install_es {
  font-size: 13px;
}
.block_468 #install_de,
.block_468 #install_es {
  font-size: 13px;
}
.block_728 #install_de,
.block_728 #install_es {
  font-size: 15px;
}
.block_1 #install_ru,
.block_1 #install_fr {
  font-size: 11px;
}
